# Android Studio
*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Kotlin/Java
*.class
*.log
*.jar
*.aar
*.dex

# Dependency directories
/node_modules
/app/build/
/app/src/test/resources/

# Misc
*.hprof
*.backup
*.swp
*.swo