# Android Studio
*.iml
.gradle/
build/
captures/
.externalNativeBuild/

# Kotlin/Java compiled files
*.class
*.dex

# Intellij
.idea/
*.ipr
*.iws

# Gradle
gradle/
.gradle
/local.properties
/build
/captures

# macOS
.DS_Store

# Logs
*.log

# Dependency directories
/node_modules
/jspm_packages

# Environment files
.env

# Testing
/coverage